table.legend {
    margin-inline-start: auto;
    margin-inline-end: auto;
    background-color: #23272a;
    border: 2px solid #99aab5;
    border-radius: 15px;
    text-align: center;
    font-family: "Roboto";
}

table.innerlegend {
    text-align: center;
    border-top: 1px solid #99aab5;
    border-bottom: 1px solid #99aab5;
    width: 100%;
}

table.innerlegend td {
    width: 50%;
}

th {
    padding: 10px;
}

td {
    padding: 10px;
}

.trspan {
    width: 200px;
}

.selectcontainer {
    text-align: center;
}

.insertdata {
    text-align: center;
}