html {
    font-family: "Open Sans";
    margin-left: calc(100vw - 100%);
}

body {
    background: url(../assets/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #2c2f33;
    color: white;
}

hr {
    border: 1px solid #99aab5;
}

a {
    color: #3ca4ff;;
    text-decoration: none;
}

a:hover {
    color: #688eac;
}

a:visited {
    color: #609;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(55, 159, 239)),
    color-stop(0.72, rgb(0, 149, 255)),
    color-stop(0.86, rgb(0, 119, 204)));
}

select {
    font: 400 13.3333px Open Sans;
    background-color: #2c2f33;
    color: white;
    cursor: pointer;
}

button {
    font: 400 13.3333px Open Sans;
    background-color: #2c2f33;
    color: white;
    cursor: pointer;
}