<script src="js/illusorygrotto.js"></script>
<table id="illusorygrotto" class="legend">
    <thead>
        <tr>
            <th>Image</th>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Location</th>
            <th>Sparkling Tile?</th>
        </tr>
    </thead>
</table>