<table class="legend">
    <tbody>
        <tr>
            <th>Image</th>
            <th>Name</th>
        </tr>
        <tr>
            <td><img src="image/accuracy-drink.png"></td>
            <td>Accuracy Drink</td>
        </tr>
        <tr>
            <td><img src="image/apple.png"></td>
            <td>Apple</td>
        </tr>
        <tr>
            <td><img src="image/big-apple.png"></td>
            <td>Big Apple</td>
        </tr>
        <tr>
            <td><img src="image/blue-band.png"></td>
            <td>Blue Band</td>
        </tr>
        <tr>
            <td><img src="image/bronze-dojo-ticket.png"></td>
            <td>Bronze Dojo Ticket</td>
        </tr>
        <tr>
            <td><img src="image/cacnea-spike.png"></td>
            <td>Cacnea Spike</td>
        </tr>
        <tr>
            <td><img src="image/calcium.png"></td>
            <td>Calcium</td>
        </tr>
        <tr>
            <td><img src="image/carbos.png"></td>
            <td>Carbos</td>
        </tr>
        <tr>
            <td><img src="image/cheri-berry.png"></td>
            <td>Cheri Berry</td>
        </tr>
        <tr>
            <td><img src="image/chestnut.png"></td>
            <td>Chestnut</td>
        </tr>
        <tr>
            <td><img src="image/chesto-berry.png"></td>
            <td>Chesto Berry</td>
        </tr>
        <tr>
            <td><img src="image/corsola-twig.png"></td>
            <td>Corsola Twig</td>
        </tr>
        <tr>
            <td><img src="image/deluxe-box.png"></td>
            <td>Deluxe Box</td>
        </tr>
        <tr>
            <td><img src="image/dx-gummi.png"></td>
            <td>Dx Gummi</td>
        </tr>
        <tr>
            <td><img src="image/evolution-crystal.png"></td>
            <td>Evolution Crystal</td>
        </tr>
        <tr>
            <td><img src="image/geo-pebble.png"></td>
            <td>Geo Pebble</td>
        </tr>
        <tr>
            <td><img src="image/gold-band.png"></td>
            <td>Gold Band</td>
        </tr>
        <tr>
            <td><img src="image/gold-dojo-ticket.png"></td>
            <td>Gold Dojo Ticket</td>
        </tr>
        <tr>
            <td><img src="image/golden-fossil.png"></td>
            <td>Golden Fossil</td>
        </tr>
        <tr>
            <td><img src="image/golden-spike.png"></td>
            <td>Golden Spike</td>
        </tr>
        <tr>
            <td><img src="image/gravelerock.png"></td>
            <td>Gravelerock</td>
        </tr>
        <tr>
            <td><img src="image/grimy-food.png"></td>
            <td>Grimy Food</td>
        </tr>
        <tr>
            <td><img src="image/invintation.png"></td>
            <td>Invintation</td>
        </tr>
        <tr>
            <td><img src="image/iron-spike.png"></td>
            <td>Iron Spike</td>
        </tr>
        <tr>
            <td><img src="image/iron.png"></td>
            <td>Iron</td>
        </tr>
        <tr>
            <td><img src="image/link-box.png"></td>
            <td>Link Box</td>
        </tr>
        <tr>
            <td><img src="image/max-elixir.png"></td>
            <td>Max Elixir</td>
        </tr>
        <tr>
            <td><img src="image/max-ether.png"></td>
            <td>Max Ether</td>
        </tr>
        <tr>
            <td><img src="image/oran-berry.png"></td>
            <td>Oran Berry</td>
        </tr>
        <tr>
            <td><img src="image/orb.png"></td>
            <td>Orb</td>
        </tr>
        <tr>
            <td><img src="image/pecha-berry.png"></td>
            <td>Pecha Berry</td>
        </tr>
        <tr>
            <td><img src="image/perfect-apple.png"></td>
            <td>Perfect Apple</td>
        </tr>
        <tr>
            <td><img src="image/poke.png"></td>
            <td>Poke</td>
        </tr>
        <tr>
            <td><img src="image/power-drink.png"></td>
            <td>Power Drink</td>
        </tr>
        <tr>
            <td><img src="image/pp-up-drink.png"></td>
            <td>Pp Up Drink</td>
        </tr>
        <tr>
            <td><img src="image/pretty-box.png"></td>
            <td>Pretty Box</td>
        </tr>
        <tr>
            <td><img src="image/protein.png"></td>
            <td>Protein</td>
        </tr>
        <tr>
            <td><img src="image/rainbow-gummi.png"></td>
            <td>Rainbow Gummi</td>
        </tr>
        <tr>
            <td><img src="image/rawst-berry.png"></td>
            <td>Rawst Berry</td>
        </tr>
        <tr>
            <td><img src="image/seed.png"></td>
            <td>Seed</td>
        </tr>
        <tr>
            <td><img src="image/silver-dojo-ticket.png"></td>
            <td>Silver Dojo Ticket</td>
        </tr>
        <tr>
            <td><img src="image/silver-spike.png"></td>
            <td>Silver Spike</td>
        </tr>
        <tr>
            <td><img src="image/sitrus-berry.png"></td>
            <td>Sitrus Berry</td>
        </tr>
        <tr>
            <td><img src="image/specs.png"></td>
            <td>Specs</td>
        </tr>
        <tr>
            <td><img src="image/strong-foe.png"></td>
            <td>Strong Foe</td>
        </tr>
        <tr>
            <td><img src="image/tiny-apple.png"></td>
            <td>Tiny Apple</td>
        </tr>
        <tr>
            <td><img src="image/tm.png"></td>
            <td>Tm</td>
        </tr>
        <tr>
            <td><img src="image/type-bug.png"></td>
            <td>Type Bug</td>
        </tr>
        <tr>
            <td><img src="image/type-dark.png"></td>
            <td>Type Dark</td>
        </tr>
        <tr>
            <td><img src="image/type-dragon.png"></td>
            <td>Type Dragon</td>
        </tr>
        <tr>
            <td><img src="image/type-electric.png"></td>
            <td>Type Electric</td>
        </tr>
        <tr>
            <td><img src="image/type-fairy.png"></td>
            <td>Type Fairy</td>
        </tr>
        <tr>
            <td><img src="image/type-fighting.png"></td>
            <td>Type Fighting</td>
        </tr>
        <tr>
            <td><img src="image/type-fire.png"></td>
            <td>Type Fire</td>
        </tr>
        <tr>
            <td><img src="image/type-flying.png"></td>
            <td>Type Flying</td>
        </tr>
        <tr>
            <td><img src="image/type-ghost.png"></td>
            <td>Type Ghost</td>
        </tr>
        <tr>
            <td><img src="image/type-grass.png"></td>
            <td>Type Grass</td>
        </tr>
        <tr>
            <td><img src="image/type-ground.png"></td>
            <td>Type Ground</td>
        </tr>
        <tr>
            <td><img src="image/type-ice.png"></td>
            <td>Type Ice</td>
        </tr>
        <tr>
            <td><img src="image/type-normal.png"></td>
            <td>Type Normal</td>
        </tr>
        <tr>
            <td><img src="image/type-poison.png"></td>
            <td>Type Poison</td>
        </tr>
        <tr>
            <td><img src="image/type-psychic.png"></td>
            <td>Type Psychic</td>
        </tr>
        <tr>
            <td><img src="image/type-rock.png"></td>
            <td>Type Rock</td>
        </tr>
        <tr>
            <td><img src="image/type-steel.png"></td>
            <td>Type Steel</td>
        </tr>
        <tr>
            <td><img src="image/type-water.png"></td>
            <td>Type Water</td>
        </tr>
        <tr>
            <td><img src="image/wand.png"></td>
            <td>Wand</td>
        </tr>
        <tr>
            <td><img src="image/wooden-spike.png"></td>
            <td>Wooden Spike</td>
        </tr>
        <tr>
            <td><img src="image/zinc.png"></td>
            <td>Zinc</td>
        </tr>
    </tbody>
</table>